.project-info {
  margin-bottom: 10px;
}

.project-info:last-child {
  margin-bottom: 0;
}

.project-info h3 {
  margin: 0;
  display: inline-block;
}

.project-info p {
  margin: 0;
}

.biblio-has-publications .title {
  background-color: rgba(255, 47, 0, 0.4);
}

.projects {
  border: 2px solid #ffab99;
  padding: 3px;
}
