.biblio-has-publications .project-info {
  margin-bottom: 10px;
}

.biblio-has-publications .project-info:last-child {
  margin-bottom: 0;
}

.biblio-has-publications .project-info h3 {
  margin: 0;
  display: inline-block;
}

.biblio-has-publications .project-info p {
  margin: 0;
}

.biblio-has-publications .title,
.biblio-has-publications h1,
.biblio-has-publications .ref.pubmed {
  background-color: rgba(255, 47, 0, 0.4);
}

.biblio-has-publications .projects {
  border: 2px solid #ffab99;
  margin-top: 4px;
  padding: 3px;
}
